.checkoutProduct {
  display: flex;
  background-color: white;
  margin-bottom: 10px;
  padding: 15px;
  margin: 15px;
}

.checkoutProduct__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutProduct__info {
  padding-left: 20px;
}

.checkoutProduct_button {
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #988734 #9c7e31 #846a29;
}
.checkoutProduct_title {
  font-size: 16px;
  font-weight: 800;
}
